*{
    color: rgb(255, 255, 255);
    font-family: 'Shippori Antique', sans-serif;
}
body{    background-image: url(https://wallpaperaccess.com/full/1386514.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.title{
    text-align: center;
    height: 120px;
}
.precio{
    font-size: 100px;
    animation: trola 1.5s linear ;
}

.flex-container{
    display: flex;
    padding: 20px;
    animation: trola 1s linear;
}

.flex-item{
    margin: 10px;
    padding: 10px;
}


th{
    width: 500px;
    color: red;
}

th,td{
    text-align: center;
    width: 150px;

}

td,th{
    height: 40px;
    border: 4px solid #9b1700;
border-radius: 10px;
}

h2{
    color: rgb(255, 255, 255);
    margin: 5px;
    height: 40px;
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    background-color: brown;
}

.flex-item2{
    margin: 10px;
    padding: 10px;
}
.flex-item3{
    margin: 10px;
    padding: 10px;
}
.flex-item4{
    margin: 10px;
    padding: 10px;
}

.flex-item5{
    margin: 10px;
    padding: 10px;
}

.flex-item:hover{
    font-size: 20px;
    transition: all 1s;
    border: 4px solid white;
    animation: pija 3s  infinite linear;
    position: relative;
}

@keyframes pija{
    0%{
        border: 4px solid rgb(123, 253, 2);
    }

    50%{
        border: 4px solid rgb(255, 136, 0);
    }

    100%{
        border: 4px solid rgb(255, 0, 0);
    }
}
.flex-item2:hover{
    font-size: 20px;
    transition: all 1s;
    border: 4px solid white;
    animation: pija 3s  infinite linear;
    position: relative;
}
.flex-item3:hover{
    font-size: 20px;
    transition: all 1s;
    border: 4px solid white;
    animation: pija 3s  infinite linear;
    position: relative;
}
.flex-item4:hover{
    font-size: 20px;
    transition: all 1s;
    border: 4px solid white;
    animation: pija 3s  infinite linear;
    position: relative;
}
.flex-item5:hover{
    font-size: 20px;
    transition: all 1s;
    border: 2px solid white;
    animation: pija 3s  infinite linear;
    position: relative;
}

td:hover{
    background-color: rgb(250, 35, 35);
}

@keyframes trola {
    0%{
        transform: translateX(100vh);
    }

    100%{
        transform: translateX(0px);
    }
}