*{
    color: rgb(255, 255, 255);
    font-family: 'Secular One', sans-serif;
}
body{    background-image: url(https://image.winudf.com/v2/image1/Y29tLnF1aWVsYW54MC5TcGFjZVdhbGxwYXBlcnM0S19zY3JlZW5fMF8xNTUxNjQzNTA5XzAwNg/screen-0.jpg?fakeurl=1&type=.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title{
    text-align: center;
    height: 160px;
}
.time{
    height:40px;
    width:120px;
    border: 3px solid red;
    border-radius:56px;
    padding:0;
    margin:0;
    float: left;
    background: none;
}
.time:hover{
    animation: boton 3s linear infinite;
}
@keyframes boton {
    0%{
        border: none;
        border-bottom: 5px solid #a41c1c;
        border-radius: 26px 27px 27px 19px;
    }
    25%{
        border-bottom: 5px solid #fffb00;
        border-radius: 26px 27px 27px 19px;
    }
    50%{
        border-bottom: 5px solid #00ff00;
        border-radius: 26px 27px 27px 19px;
    }
    75%{
        border-bottom: 5px solid #2f00ff;
        border-radius: 26px 27px 27px 19px;
    }
    100%{
        border: none;
        border-bottom: 5px solid #ff0000;
        border-radius: 26px 27px 27px 19px;
    }

}

.trola{
    color: rgb(254 75 89);
    font-size: 40px;
}
.precio{
    font-size: 70px;
    animation: trola 1.5s linear ;
}
.flex-container{
    display: flex;
    padding: 20px;
    animation: trola 1s linear;
}
.flex-item{
    margin: 10px;
    padding: 10px;
}
th{
    font-size: 20px;
    color: red;
}
th,td{
    text-align: center;
    width: 150px;
}
td,th{
    height: 40px;
    border: 4px solid #9b1700;
border-radius: 10px;
}
h2{
    color: rgb(255, 255, 255);
    margin: 5px;
    height: 60px;
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    background-color: brown;
}
.flex-item:hover{
    animation: pija 3s  infinite linear;
    position: relative;
}
@keyframes pija{
    0%{
        border: 7px solid #ff0000;
        border-radius: 40px 40px 40px 31px;
    }

    25%{
        border: 7px solid #1eff00;
    border-radius: 40px 40px 40px 31px;
    }

    50%{
        border: 7px solid #0077ff;
    border-radius: 40px 40px 40px 31px;
    }
    75%{
        border: 7px solid #0400ff;
    border-radius: 40px 40px 40px 31px;
    }
    100%{
        border: 7px solid #ff0000;
    border-radius: 40px 40px 40px 31px;
    }
}
td:hover{
    font-size: 20px;
    background-color: rgb(250, 35, 35);
}
h2:hover{
    border: 3px solid rgb(0, 255, 42);
    background-color: green;
}

